/* SetupPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff7f7;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .desc {
    font-size: 24px;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  